body {
    margin: 0;
    padding: 0;
    color: white;
}

.header {
    background: rgb(5, 10, 43);
    border-bottom: 1px solid lightgray;
}

.container {
    width: 90%;
    margin: auto;
}

.container-left {
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    float: left;
    margin-right: 5px;
}

.logo img {
    display: block;
}

.menu {
    float: left;
}

.menu-item {
    float: left;
    padding: 8px 10px;
}

.container-right {
    padding-top: 20px;
    padding-bottom: 20px;
    float: right;
}

.menu-right {
    float: right;
}

.menu-search {
    width: 200px;
    height: 24px;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #293142;
    filter: opacity();
    float: right;
}

input:focus {
    outline: none;
}

.sign-up-border {
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 8px;
}

input::placeholder {
    color:white;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}